$color-soft-red: hsl(10, 79%, 65%);
$color-cyan: hsl(186, 34%, 60%);

$color-dark-brown: hsl(25, 47%, 15%);
$color-medium-brown: hsl(28, 10%, 53%);

$color-cream: hsl(27, 66%, 92%);
$color-pale-orange: hsl(33, 100%, 98%);
$color-white: hsl(0, 0%, 100%);

//FONT
$font-primary: "DM Sans", sans-serif;
$default-font-size: 1.6rem;

//BREAK POINTS
$bp-large: 81.25em; //1300px
$bp-medium: 62.5em; //1000px
// $bp-small: 47.5em; //760px
$bp-mobile: 47.5em; //760px
